body [class*="col-"] {
  display: table;
}

.nested {
  padding: 5px;
}

.nested [class*="col-"] {
  height: 190px;
  background-color: #f88379;
  border: 1px solid white;
}

span {
display: table-cell;
vertical-align: middle;
}
